In [240]:
from google.colab import drive
drive.mount('/content/drive')
ruta = "/content/drive/MyDrive/Colab Notebooks/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [241]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [242]:
#Crear sesion Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark = SparkSession.builder.appName("SparkSQLEjercicio2").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)

In [243]:
#Llamada a los archivos
from pyspark.sql.functions import to_date
dfp1 = spark.read.format("csv").option("mode", "FAILFAST")\
  .option("header", "true")\
  .option("inferSchema", "true")\
  .load(ruta+"/data/Litros_y_Servicios_ASA_2015-2022_modificado.csv")

dfe = spark.read.format("json").option("mode", "FAILFAST")\
  .option("inferSchema", "true")\
  .load(ruta+"/data/entidades_federativas_mexico.json")

In [244]:
#Dataframe "Servicios"
print(dfp.show())
print(dfp.count())

+-----------+-----------------+---------+-------+----------------+-------------------------------+--------------------+
|Codigo_IATA|       Aeropuerto|Id_Estado|Aniomes|Tipo_combustible|Litros_combustible_suministrado|Servicios_realizados|
+-----------+-----------------+---------+-------+----------------+-------------------------------+--------------------+
|        ACA|         Acapulco|       12| 201501|       Turbosina|                        1661674|                 757|
|        AGU|   Aguascalientes|        1| 201501|       Turbosina|                        1557391|                 502|
|        BJX|         El Bajio|       11| 201501|       Turbosina|                        3975683|                1124|
|        CEN|   Ciudad Obregon|       26| 201501|       Turbosina|                         641425|                 240|
|        CJS|    Ciudad Juarez|        8| 201501|       Turbosina|                        2032172|                 502|
|        CME|Ciudad Del Carmen|        4| 201501|       Turbosina|                        2466576|                 653|
|        CLQ|           Colima|        6| 201501|       Turbosina|                         336077|                 163|
|        CPE|         Campeche|        4| 201501|       Turbosina|                         571376|                 187|
|        CTM|         Chetumal|       23| 201501|       Turbosina|                         425045|                 109|
|        CUL|         Culiacan|       25| 201501|       Turbosina|                        3037601|                 816|
|        CUN|           Cancun|       23| 201501|       Turbosina|                       72948856|                6553|
|        CUU|        Chihuahua|        8| 201501|       Turbosina|                        2450726|                 834|
|        CVJ|       Cuernavaca|       17| 201501|       Turbosina|                         118665|                 106|
|        CVM|  Ciudad Victoria|       28| 201501|       Turbosina|                         205869|                 191|
|        CZM|          Cozumel|       23| 201501|       Turbosina|                        1809094|                 432|
|        DGO|          Durango|       10| 201501|       Turbosina|                         657824|                 357|
|        GDL|      Guadalajara|       14| 201501|       Turbosina|                       23707321|                4370|
|        GYM|          Guaymas|       26| 201501|       Turbosina|                          48175|                  49|
|        HMO|       Hermosillo|       26| 201501|       Turbosina|                        3244029|                1151|
|        HUX|         Huatulco|       20| 201501|       Turbosina|                        2034092|                 361|
+-----------+-----------------+---------+-------+----------------+-------------------------------+--------------------+
only showing top 20 rows

None
11860

In [264]:
#Dataframe "Estados"
print(dfe.show(32))
print(dfe.count())

+-----------+-----+--------------------+
|abreviatura|clave|              estado|
+-----------+-----+--------------------+
|       Ags.|    1|      Aguascalientes|
|       Dgo.|   10|             Durango|
|       Gto.|   11|          Guanajuato|
|       Gro.|   12|            Guerrero|
|       Hgo.|   13|             Hidalgo|
|       Jal.|   14|             Jalisco|
|       Mex.|   15|              México|
|      Mich.|   16| Michoacán de Ocampo|
|       Mor.|   17|             Morelos|
|       Nay.|   18|             Nayarit|
|         NL|   19|          Nuevo León|
|         BC|    2|     Baja California|
|       Oax.|   20|              Oaxaca|
|       Pue.|   21|              Puebla|
|       Qro.|   22|           Querétaro|
|     Q. Roo|   23|        Quintana Roo|
|        SLP|   24|     San Luis Potosí|
|       Sin.|   25|             Sinaloa|
|       Son.|   26|              Sonora|
|       Tab.|   27|             Tabasco|
|     Tamps.|   28|          Tamaulipas|
|      Tlax.|   29|            Tlaxcala|
|        BCS|    3| Baja California Sur|
|       Ver.|   30|Veracruz de Ignac...|
|       Yuc.|   31|             Yucatán|
|       Zac.|   32|           Zacatecas|
|      Camp.|    4|            Campeche|
|      Coah.|    5|Coahuila de Zaragoza|
|       Col.|    6|              Colima|
|      Chis.|    7|             Chiapas|
|      Chih.|    8|           Chihuahua|
|       CDMX|    9|    Ciudad de México|
+-----------+-----+--------------------+

None
32

In [246]:
#Creacion de tablas temporales
dfp.createOrReplaceTempView("servicios")
dfe.createOrReplaceTempView("estados")

spark.sql("SHOW TABLES").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |  estados|       true|
|         |servicios|       true|
+---------+---------+-----------+

In [257]:
#Se muestra que el DataFrame "Servicios" tiene un error en el "id_estado", ya que hay en el "codigo_iata"
#se marca que existen dos aeropuertos "Mexico", uno con "id_estado= 9" y otro con "id_estado= DF"
sql="""
SELECT servicios.aeropuerto,servicios.codigo_iata, servicios.id_estado
FROM estados
JOIN servicios
GROUP BY servicios.aeropuerto,servicios.codigo_iata, servicios.id_estado
ORDER BY 1
"""
spark.sql(sql).show(50)
print(spark.sql(sql).count())

+-----------------+-----------+---------+
|       aeropuerto|codigo_iata|id_estado|
+-----------------+-----------+---------+
|         Acapulco|        ACA|       12|
|   Aguascalientes|        AGU|        1|
|         Campeche|        CPE|        4|
|           Cancun|        CUN|       23|
|         Chetumal|        CTM|       23|
|        Chihuahua|        CUU|        8|
|Ciudad Del Carmen|        CME|        4|
|    Ciudad Juarez|        CJS|        8|
|   Ciudad Obregon|        CEN|       26|
|  Ciudad Victoria|        CVM|       28|
|           Colima|        CLQ|        6|
|          Cozumel|        CZM|       23|
|       Cuernavaca|        CVJ|       17|
|         Culiacan|        CUL|       25|
|          Durango|        DGO|       10|
|         El Bajio|        BJX|       11|
|   Felipe Angeles|        NLU|       15|
|      Guadalajara|        GDL|       14|
|          Guaymas|        GYM|       26|
|       Hermosillo|        HMO|       26|
|         Huatulco|        HUX|       20|
|          Ixtepec|        IZT|       20|
|           La Paz|        LAP|        3|
|  Lazaro Cardenas|        LZC|       16|
|           Loreto|        LTO|        3|
|       Los Mochis|        LMM|       25|
|       Manzanillo|        ZLO|        6|
|        Matamoros|        MAM|       28|
|         Mazatlan|        MZT|       25|
|           Merida|        MID|       31|
|         Mexicali|        MXL|        2|
|           Mexico|        MEX|        9|
|       Minatitlan|        MTT|       30|
|        Monterrey|        MTY|       19|
|          Morelia|        MLM|       16|
|           M�xico|        MEX|       DF|
|          Nogales|        NOG|       26|
|     Nuevo Laredo|        NLD|       28|
|           Oaxaca|        OAX|       20|
|          Pachuca|        PCA|       13|
|         Palenque|        PQM|        7|
|        Poza Rica|        PAZ|       30|
|           Puebla|        PBC|       21|
| Puerto Escondido|        PXM|       20|
|   Puerto Penasco|        PPE|       26|
|  Puerto Vallarta|        PVR|       14|
|        Queretaro|        QRO|       22|
|          Reynosa|        REX|       28|
|San Jose Del Cabo|        SJD|        3|
|  San Luis Potosi|        SLP|       24|
+-----------------+-----------+---------+
only showing top 50 rows

64

In [248]:
#Comprobacion de que existen dos aeropuertos "Mexico", uno con "id_estado= 9" y otro con "id_estado= DF"
sql1=""" SELECT servicios.id_estado, servicios.codigo_iata
FROM servicios
JOIN estados
ON servicios.id_estado=9
"""
spark.sql(sql1).show()
print(spark.sql(sql1).count())

sql=""" SELECT servicios.id_estado, servicios.codigo_iata
FROM servicios
JOIN estados
ON servicios.id_estado='DF'
"""
spark.sql(sql).show()
print(spark.sql(sql).count())

#Debido a que SparkSQL no actualiza el campo de 'DF' a '9', los procesos se realizaron de esta manera

+---------+-----------+
|id_estado|codigo_iata|
+---------+-----------+
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
|        9|        MEX|
+---------+-----------+
only showing top 20 rows

5376
+---------+-----------+
|id_estado|codigo_iata|
+---------+-----------+
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
|       DF|        MEX|
+---------+-----------+
only showing top 20 rows

768

In [250]:
#Número total de servicios realizados por estado
sql = """
SELECT estados.clave, estados.estado, SUM(servicios.servicios_realizados) no_servicios
FROM servicios
JOIN estados
ON servicios.id_estado= estados.clave
GROUP BY estados.clave, estados.estado
ORDER BY estados.estado
"""
spark.sql(sql).show(31)
print(spark.sql(sql).count())

+-----+--------------------+------------+
|clave|              estado|no_servicios|
+-----+--------------------+------------+
|    1|      Aguascalientes|       53805|
|    2|     Baja California|      305516|
|    3| Baja California Sur|      272027|
|    4|            Campeche|       63264|
|    7|             Chiapas|       93666|
|    8|           Chihuahua|      177512|
|    9|    Ciudad de México|     1387227|
|    5|Coahuila de Zaragoza|       54690|
|    6|              Colima|       38050|
|   10|             Durango|       57462|
|   11|          Guanajuato|      118135|
|   12|            Guerrero|      130845|
|   13|             Hidalgo|        9835|
|   14|             Jalisco|      687600|
|   16| Michoacán de Ocampo|       64912|
|   17|             Morelos|       65561|
|   15|              México|      230196|
|   18|             Nayarit|       21554|
|   19|          Nuevo León|      398649|
|   20|              Oaxaca|      116478|
|   21|              Puebla|       64462|
|   22|           Querétaro|      166740|
|   23|        Quintana Roo|      721070|
|   24|     San Luis Potosí|       74116|
|   25|             Sinaloa|      256895|
|   26|              Sonora|      204055|
|   27|             Tabasco|       73162|
|   28|          Tamaulipas|      127367|
|   30|Veracruz de Ignac...|      119997|
|   31|             Yucatán|      118838|
|   32|           Zacatecas|       24586|
+-----+--------------------+------------+

31

In [258]:
#Número total de servicios realizados por aeropuerto, se muestra el estado
sql = """
SELECT estados.clave, estados.estado, servicios.aeropuerto,
SUM(servicios.servicios_realizados) no_servicios
FROM servicios
JOIN estados
ON servicios.id_estado= estados.clave
GROUP BY estados.clave, estados.estado,servicios.aeropuerto
ORDER BY estados.estado
"""
spark.sql(sql).show(50)
print(spark.sql(sql).count())

+-----+--------------------+-----------------+------------+
|clave|              estado|       aeropuerto|no_servicios|
+-----+--------------------+-----------------+------------+
|    1|      Aguascalientes|   Aguascalientes|       53805|
|    2|     Baja California|          Tijuana|      263616|
|    2|     Baja California|         Mexicali|       41900|
|    3| Baja California Sur|           La Paz|       63127|
|    3| Baja California Sur|           Loreto|       13972|
|    3| Baja California Sur|San Jose Del Cabo|      194928|
|    4|            Campeche|         Campeche|       18146|
|    4|            Campeche|Ciudad Del Carmen|       45118|
|    7|             Chiapas|         Palenque|        1759|
|    7|             Chiapas|        Tapachula|       36237|
|    7|             Chiapas| Tuxtla Gutierrez|       55670|
|    8|           Chihuahua|        Chihuahua|      114554|
|    8|           Chihuahua|    Ciudad Juarez|       62958|
|    9|    Ciudad de México|           Mexico|     1387227|
|    5|Coahuila de Zaragoza|          Torreon|       54690|
|    6|              Colima|       Manzanillo|       18145|
|    6|              Colima|           Colima|       19905|
|   10|             Durango|          Durango|       57462|
|   11|          Guanajuato|         El Bajio|      118135|
|   12|            Guerrero|         Acapulco|       96790|
|   12|            Guerrero|      Zihuatanejo|       34055|
|   13|             Hidalgo|          Pachuca|        9835|
|   14|             Jalisco|      Guadalajara|      527900|
|   14|             Jalisco|  Puerto Vallarta|      159700|
|   16| Michoacán de Ocampo|          Uruapan|       14066|
|   16| Michoacán de Ocampo|          Morelia|       45093|
|   16| Michoacán de Ocampo|  Lazaro Cardenas|        5753|
|   17|             Morelos|       Cuernavaca|       65561|
|   15|              México|   Felipe Angeles|        4703|
|   15|              México|           Toluca|      225493|
|   18|             Nayarit|            Tepic|       21554|
|   19|          Nuevo León|        Monterrey|      398649|
|   20|              Oaxaca|         Huatulco|       29440|
|   20|              Oaxaca| Puerto Escondido|       21443|
|   20|              Oaxaca|           Oaxaca|       62812|
|   20|              Oaxaca|          Ixtepec|        2783|
|   21|              Puebla|           Puebla|       58861|
|   21|              Puebla|         Tehuacan|        5601|
|   22|           Querétaro|        Queretaro|      166740|
|   23|        Quintana Roo|          Cozumel|       41655|
|   23|        Quintana Roo|           Cancun|      662959|
|   23|        Quintana Roo|         Chetumal|       16456|
|   24|     San Luis Potosí|  San Luis Potosi|       70648|
|   24|     San Luis Potosí|           Tamuin|        3468|
|   25|             Sinaloa|         Culiacan|      146596|
|   25|             Sinaloa|         Mazatlan|       66666|
|   25|             Sinaloa|       Los Mochis|       43633|
|   26|              Sonora|   Ciudad Obregon|       41961|
|   26|              Sonora|       Hermosillo|      137402|
|   26|              Sonora|          Guaymas|       12894|
+-----+--------------------+-----------------+------------+
only showing top 50 rows

63

In [259]:
#Maximo, minimo, promedio y total de litros de combustible por estado
sql = """
SELECT estados.clave, estados.estado,
AVG(servicios.litros_combustible_suministrado) litros_promedio,
SUM(servicios.litros_combustible_suministrado) total_litros,
MAX(servicios.litros_combustible_suministrado) max_litros,
MIN(servicios.litros_combustible_suministrado) min_litros
FROM servicios
JOIN estados
ON servicios.id_estado= estados.clave
GROUP BY estados.clave, estados.estado
ORDER BY estados.estado
"""
spark.sql(sql).show(31)
print(spark.sql(sql).count())

+-----+--------------------+--------------------+------------+----------+----------+
|clave|              estado|     litros_promedio|total_litros|max_litros|min_litros|
+-----+--------------------+--------------------+------------+----------+----------+
|    1|      Aguascalientes|   850269.7239583334|   163251787|   2231356|      4405|
|    2|     Baja California|   5293568.791666667|  2032730416|  30156947|      3552|
|    3| Baja California Sur|  2261269.6319444445|  1302491308|  18860897|         0|
|    4|            Campeche|      541523.9765625|   207945207|   2693424|         0|
|    7|             Chiapas|   556496.3489583334|   320541897|   2924236|         0|
|    8|           Chihuahua|  1468393.5963541667|   563863141|   4298356|         0|
|    9|    Ciudad de México| 6.793585186309524E7| 11413223113| 175193398|         0|
|    5|Coahuila de Zaragoza|   608295.3072916666|   116792699|   1774353|      6250|
|    6|              Colima|      219176.1953125|    84163659|   1299299|      3941|
|   10|             Durango|   455057.1614583333|    87370975|   1341563|     28049|
|   11|          Guanajuato|      2402236.953125|   461229495|   7083516|      7708|
|   12|            Guerrero|       619961.328125|   238065150|   2679970|      2501|
|   13|             Hidalgo|  24249.713541666668|     4655945|     73725|         0|
|   14|             Jalisco|   9729529.447916666|  3736139308|  37859770|      9234|
|   16| Michoacán de Ocampo|  463636.35243055556|   267054539|   3793293|         0|
|   17|             Morelos|   74977.02604166667|    14395589|    218643|      3688|
|   15|              México|   2728441.683962264|   578429637|   7531981|         0|
|   18|             Nayarit|  199129.41145833334|    38232847|    564908|      6934|
|   19|          Nuevo León|         8526911.125|  1637166936|  23805950|         0|
|   20|              Oaxaca|  468600.44176136365|   329894711|   3141393|         0|
|   21|              Puebla|   355196.9739583333|   136395638|   2165552|         0|
|   22|           Querétaro|  2144743.9583333335|   411790840|   6517165|     17732|
|   23|        Quintana Roo|1.1962289310763888E7|  6890278643| 111014538|         0|
|   24|     San Luis Potosí|      378162.2734375|   145214313|   2087194|         0|
|   25|             Sinaloa|   1120954.204861111|   645669622|   5023549|     10089|
|   26|              Sonora|   463069.2864583333|   444546515|   4702325|         0|
|   27|             Tabasco|  1227151.6041666667|   235613108|   3315667|     44352|
|   28|          Tamaulipas|       227889.453125|   218773875|   1422156|         0|
|   30|Veracruz de Ignac...|   386960.3385416667|   222889155|   2990880|         0|
|   31|             Yucatán|      2538314.578125|   487356399|   6893779|      1296|
|   32|           Zacatecas|   450285.1041666667|    86454740|   1253572|         0|
+-----+--------------------+--------------------+------------+----------+----------+

31

In [261]:
#Tabla pivote mostrar total de litros de combustible por estado y tipo (Turbosina,Gasavion)
sql=""" SELECT estados.clave, estados.estado, servicios.tipo_combustible,
SUM(servicios.litros_combustible_suministrado) total_litros
FROM servicios
JOIN estados
ON servicios.id_estado =estados.clave
GROUP BY estados.clave, estados.estado,servicios.tipo_combustible
ORDER BY estados.estado
"""

spark.sql(sql).show(50)
print(spark.sql(sql).count())

+-----+--------------------+----------------+------------+
|clave|              estado|tipo_combustible|total_litros|
+-----+--------------------+----------------+------------+
|    1|      Aguascalientes|        Gasavion|     1015666|
|    1|      Aguascalientes|       Turbosina|   162236121|
|    2|     Baja California|       Turbosina|  2025350381|
|    2|     Baja California|        Gasavion|     7380035|
|    3| Baja California Sur|        Gasavion|     4779440|
|    3| Baja California Sur|       Turbosina|  1297711868|
|    4|            Campeche|       Turbosina|   206942000|
|    4|            Campeche|        Gasavion|     1003207|
|    7|             Chiapas|       Turbosina|   305998954|
|    7|             Chiapas|        Gasavion|    14542943|
|    8|           Chihuahua|        Gasavion|    13461051|
|    8|           Chihuahua|       Turbosina|   550402090|
|    9|    Ciudad de México|        Gasavion|     1580564|
|    9|    Ciudad de México|       Turbosina| 11411642549|
|    5|Coahuila de Zaragoza|        Gasavion|     2419862|
|    5|Coahuila de Zaragoza|       Turbosina|   114372837|
|    6|              Colima|       Turbosina|    73397599|
|    6|              Colima|        Gasavion|    10766060|
|   10|             Durango|        Gasavion|     4215433|
|   10|             Durango|       Turbosina|    83155542|
|   11|          Guanajuato|        Gasavion|     1545735|
|   11|          Guanajuato|       Turbosina|   459683760|
|   12|            Guerrero|        Gasavion|     3679101|
|   12|            Guerrero|       Turbosina|   234386049|
|   13|             Hidalgo|        Gasavion|      850481|
|   13|             Hidalgo|       Turbosina|     3805464|
|   14|             Jalisco|        Gasavion|    12955645|
|   14|             Jalisco|       Turbosina|  3723183663|
|   16| Michoacán de Ocampo|       Turbosina|   264038573|
|   16| Michoacán de Ocampo|        Gasavion|     3015966|
|   17|             Morelos|       Turbosina|    10133727|
|   17|             Morelos|        Gasavion|     4261862|
|   15|              México|       Turbosina|   573950624|
|   15|              México|        Gasavion|     4479013|
|   18|             Nayarit|       Turbosina|    36555747|
|   18|             Nayarit|        Gasavion|     1677100|
|   19|          Nuevo León|        Gasavion|     6559913|
|   19|          Nuevo León|       Turbosina|  1630607023|
|   20|              Oaxaca|       Turbosina|   328318646|
|   20|              Oaxaca|        Gasavion|     1576065|
|   21|              Puebla|        Gasavion|     2737670|
|   21|              Puebla|       Turbosina|   133657968|
|   22|           Querétaro|       Turbosina|   407023665|
|   22|           Querétaro|        Gasavion|     4767175|
|   23|        Quintana Roo|       Turbosina|  6886533733|
|   23|        Quintana Roo|        Gasavion|     3744910|
|   24|     San Luis Potosí|        Gasavion|     1763332|
|   24|     San Luis Potosí|       Turbosina|   143450981|
|   25|             Sinaloa|        Gasavion|    45266262|
|   25|             Sinaloa|       Turbosina|   600403360|
+-----+--------------------+----------------+------------+
only showing top 50 rows

62

In [262]:
#Mostrar 5 aeropuertos con mayor numero de servicios
sql = """
SELECT estados.clave, estados.estado, servicios.aeropuerto,
SUM(servicios.servicios_realizados) no_servicios
FROM servicios
JOIN estados
ON servicios.id_estado= estados.clave
GROUP BY estados.clave, estados.estado, servicios.aeropuerto
ORDER BY no_servicios DESC
LIMIT 5
"""
spark.sql(sql).show(63)
print(spark.sql(sql).count())

+-----+----------------+-----------+------------+
|clave|          estado| aeropuerto|no_servicios|
+-----+----------------+-----------+------------+
|    9|Ciudad de México|     Mexico|     1387227|
|   23|    Quintana Roo|     Cancun|      662959|
|   14|         Jalisco|Guadalajara|      527900|
|   19|      Nuevo León|  Monterrey|      398649|
|    2| Baja California|    Tijuana|      263616|
+-----+----------------+-----------+------------+

5

In [263]:
#Mostrar 10 estados con menos consumo de Turbosina
sql=""" SELECT estados.clave, estados.estado, servicios.tipo_combustible,
SUM(servicios.litros_combustible_suministrado) total_litros
FROM servicios
JOIN estados
ON servicios.id_estado =estados.clave
WHERE servicios.tipo_combustible='Turbosina'
GROUP BY estados.clave, estados.estado,servicios.tipo_combustible
ORDER BY total_litros
LIMIT 10
"""
spark.sql(sql).show()
print(spark.sql(sql).count())

+-----+--------------------+----------------+------------+
|clave|              estado|tipo_combustible|total_litros|
+-----+--------------------+----------------+------------+
|   13|             Hidalgo|       Turbosina|     3805464|
|   17|             Morelos|       Turbosina|    10133727|
|   18|             Nayarit|       Turbosina|    36555747|
|    6|              Colima|       Turbosina|    73397599|
|   10|             Durango|       Turbosina|    83155542|
|   32|           Zacatecas|       Turbosina|    86152573|
|    5|Coahuila de Zaragoza|       Turbosina|   114372837|
|   21|              Puebla|       Turbosina|   133657968|
|   24|     San Luis Potosí|       Turbosina|   143450981|
|    1|      Aguascalientes|       Turbosina|   162236121|
+-----+--------------------+----------------+------------+

10