In [2]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=6db77c4774974ae1a2690a1641cb58ab9be0dd02fe54dfb3b917b109d158812a
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
#Crear sesion Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark = SparkSession.builder.appName("SparkSQL_Ejercicio1").getOrCreate()
spark.conf.set("saprk.sql.repl.eagerEval.enabled",True)

In [4]:
#Importar COLAB.Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
#Ruta de Drive
ruta = "/content/drive/MyDrive/Colab Notebooks/"

In [7]:
#Lectura de archivo
df_csv = spark.read.format("csv")\
.option("header", "true")\
.option("mode", "FAILFAST")\
.option("inferScheme", "true")\
.load(ruta+"/data/flight-data/csv/2010-summary.csv")

In [9]:
print(df_csv.show())
print(df_csv.count())

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

None
255

In [10]:
#Tabla temporal del dataframe
df_csv.createOrReplaceTempView("Tabla_Vuelos")

In [11]:
spark.catalog.listTables()

[Table(name='Tabla_Vuelos', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [18]:
#Consulta para país de origen
sql = """
SELECT ORIGIN_COUNTRY_NAME, count(*) as No_vuelos
FROM tabla_vuelos
GROUP BY ORIGIN_COUNTRY_NAME
ORDER BY 2 DESC
"""
df_csv_origen = spark.sql(sql)
df_csv_origen.show()

+--------------------+---------+
| ORIGIN_COUNTRY_NAME|No_vuelos|
+--------------------+---------+
|       United States|      125|
|              Russia|        1|
|            Anguilla|        1|
|             Senegal|        1|
|              Sweden|        1|
|            Kiribati|        1|
|              Guyana|        1|
|         Philippines|        1|
|           Singapore|        1|
|            Malaysia|        1|
|                Fiji|        1|
|              Turkey|        1|
|             Germany|        1|
|         Afghanistan|        1|
|              Jordan|        1|
|               Palau|        1|
|Turks and Caicos ...|        1|
|              France|        1|
|              Greece|        1|
|British Virgin Is...|        1|
+--------------------+---------+
only showing top 20 rows

In [19]:
#Total de vuelos por país de origen
df_csv_origen.createOrReplaceTempView("Pais_Origen")

In [20]:
#Consulta para país de destino
sql = """
SELECT DEST_COUNTRY_NAME, count(*) as No_vuelos
FROM tabla_vuelos
GROUP BY DEST_COUNTRY_NAME
ORDER BY 2 DESC
"""
df_csv_destino= spark.sql(sql)
df_csv_destino.show()

+--------------------+---------+
|   DEST_COUNTRY_NAME|No_vuelos|
+--------------------+---------+
|       United States|      131|
|            Anguilla|        1|
|              Russia|        1|
|            Paraguay|        1|
|             Senegal|        1|
|              Sweden|        1|
|            Kiribati|        1|
|              Guyana|        1|
|         Philippines|        1|
|            Malaysia|        1|
|           Singapore|        1|
|                Fiji|        1|
|              Turkey|        1|
|             Germany|        1|
|         Afghanistan|        1|
|              Jordan|        1|
|               Palau|        1|
|Turks and Caicos ...|        1|
|              France|        1|
|              Greece|        1|
+--------------------+---------+
only showing top 20 rows

In [22]:
#Total de vuelos por país de destino
df_csv_destino.createOrReplaceTempView("Pais_Destino")

In [23]:
spark.catalog.listTables()

[Table(name='Pais_Destino', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='Pais_Origen', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='Tabla_Vuelos', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [26]:
#Lectura de todos los archivos
df_csv_C = spark.read.format("csv")\
.option("header", "true")\
.option("mode", "FAILFAST")\
.option("inferScheme", "true")\
.load(ruta+"/data/flight-data/csv/")

In [27]:
df_csv_C.count()

1502

In [29]:
#Tabla temporal del dataframe
df_csv_C.createOrReplaceTempView("Todos_Vuelos")

In [34]:
#Consulta para país de origen (todos los archivos)
sql = """
SELECT ORIGIN_COUNTRY_NAME, count(*) as No_vuelos
FROM todos_vuelos
GROUP BY ORIGIN_COUNTRY_NAME
ORDER BY 2 DESC
"""
df_csv_origen_C = spark.sql(sql)
df_csv_origen_C.show()

+--------------------+---------+
| ORIGIN_COUNTRY_NAME|No_vuelos|
+--------------------+---------+
|       United States|      772|
|           Argentina|        6|
|              Angola|        6|
|            Dominica|        6|
|             Belgium|        6|
|              Sweden|        6|
|             Ecuador|        6|
|              Guyana|        6|
|               Qatar|        6|
|                Fiji|        6|
|             Finland|        6|
|             Germany|        6|
|           Nicaragua|        6|
|               Palau|        6|
|               Ghana|        6|
|              France|        6|
|                Peru|        6|
|British Virgin Is...|        6|
|               India|        6|
|            Anguilla|        6|
+--------------------+---------+
only showing top 20 rows

In [35]:
#Total de vuelos por país de origen (todos los archivos)
df_csv_origen.createOrReplaceTempView("Pais_Origen_C")

In [36]:
#Consulta para país de destino (todos los archivos)
sql = """
SELECT DEST_COUNTRY_NAME, count(*) as No_vuelos
FROM todos_vuelos
GROUP BY DEST_COUNTRY_NAME
ORDER BY 2 DESC
"""
df_csv_destino_C= spark.sql(sql)
df_csv_destino_C.show()

+--------------------+---------+
|   DEST_COUNTRY_NAME|No_vuelos|
+--------------------+---------+
|       United States|      736|
|               India|        6|
|              Taiwan|        6|
|              Greece|        6|
|British Virgin Is...|        6|
|            Dominica|        6|
|            Anguilla|        6|
|             Senegal|        6|
|              Sweden|        6|
|              Guyana|        6|
|            Kiribati|        6|
|                Peru|        6|
|         Philippines|        6|
|                Fiji|        6|
|           Argentina|        6|
|             Germany|        6|
|             Belgium|        6|
|               Palau|        6|
|              Angola|        6|
|              France|        6|
+--------------------+---------+
only showing top 20 rows

In [37]:
#Total de vuelos por país de destino (todos los archivos)
df_csv_destino_C.createOrReplaceTempView("Pais_Destino_C")

In [38]:
spark.catalog.listTables()

[Table(name='Pais_Destino', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='Pais_Destino_C', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='Pais_Origen', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='Pais_Origen_C', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='Tabla_Vuelos', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='Todos_Vuelos', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]